body {
  text-align: center;
  background-color: #95e8a4;
}

#name {
  font-family: Tahoma, Geneva, sans-serif;
}

#info {
  color:grey;
  font-family: Tahoma, Geneva, sans-serif;
}

.button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#submitButton {
  border-radius: 10px;
  background-color: #4CAF50;
  color: black;
  border: 2px solid #4CAF50;
}

#submitButton:hover {
  background-color: #a0cea1;
  color: white;
}